<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BaseURL</key>
    <string>http://127.0.0.1:3377</string>
    <key>BundledExecutableName</key>
    <string>KeeplineService</string>
</dict>
</plist>
